// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..
@include icon-font('icons', inline-font-files(
  'icons/icomoon.woff', woff,
  'icons/icomoon.ttf', truetype,
  'icons/icomoon.svg', svg
));

// Examples of using the icon mixin:
// @include icon('user');
@include icon('edit', 'p');

@include icon('modules', '\e600', 'icons');
@include icon('calendar', '\e601', 'icons');
@include icon('bar-chart-o', '\e602', 'icons');
@include icon('upload', '\e603', 'icons');
@include icon('feedback', '\e604', 'icons');
@include icon('briefcase', '\e605', 'icons');
@include icon('magic', '\e606', 'icons');
@include icon('dashboard', '\e607', 'icons');
@include icon('github-alt', '\e608', 'icons');
@include icon('happy', '\e609', 'icons');
@include icon('smiley', '\e60a', 'icons');
@include icon('sad', '\e60b', 'icons');




