.x-toolbar.two-buttons .x-title {
    max-width: 57%;
}
.x-toolbar.one-button .x-title {
    max-width: 80%;
    padding-left: 2.1em;
}
.x-list.slidemenu{
	background-color: #31394a;
}
.slidemenu .x-button-label{
	color: #c4ccda;
}
.slidemenu .x-button-icon{
	color: #c4ccda;
}
.x-list.slidemenu .x-list-item.x-item-selected{
	background-color: white;
	background-image: -webkit-linear-gradient(bottom, #697387 0%, #31394A 100%);
}
/*
 Increase height of list item so title and narrative lines fit 
*/
/*
.x-list .x-list-item{
    min-height: 56px !important;
}
*/
/* Move up the disclosure button to account for the list item height increase */
/*
.x-list .x-list-disclosure {
	position: absolute;
	bottom: 0.85em;
	right: 0.44em;
}
*/
.overview-list-hidden-disclosure .x-list-disclosure{
	display: none;
}
.overview-list-disclosure .x-list-disclosure:before{
	content: '*' !important;
}
.list-item-name{
    float:left;
    width:60%;
    font-size:95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right:15px;
}
.list-item-workload{
    float:right;
    width:40%;
    color:#666666;
    font-size:80%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right:30px;
}
.x-item-selected .list-item-title{
    color:#ffffff;
}
.x-item-selected .list-item-workload{
    color:#ffffff;
}
.modules-list-empty-text{
    padding:10px;
}
.workload-overview-list-header{
	text-align: center;
	margin-top: 0.3em;
	font-weight:lighter;
}
