.x-toolbar.two-buttons .x-title {
    max-width: 57%;
}
.x-toolbar.one-button .x-title {
    max-width: 80%;
    margin-left: 2.1em;
}
.x-list.slidemenu{
	background-color: #31394a;
}
.slidemenu .x-button-label{
	color: #c4ccda;
}
.slidemenu .x-button-icon{
	color: #c4ccda;
}
.x-list.slidemenu .x-list-item.x-item-selected{
	background-color: white;
	background-image: -webkit-linear-gradient(bottom, #697387 0%, #31394A 100%);
}
/*
 Increase height of list item so title and narrative lines fit 
*/
/*
.x-list .x-list-item{
    min-height: 56px !important;
}
*/
/* Move up the disclosure button to account for the list item height increase */
/*
.x-list .x-list-disclosure {
	position: absolute;
	bottom: 0.85em;
	right: 0.44em;
}
*/
.overview-list-hidden-disclosure .x-list-disclosure{
	display: none;
}
.overview-list-disclosure .x-list-disclosure:before{
	content: '*' !important;
}
.list-item-name{
    float:left;
    width:60%;
    font-size:95%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right:15px;
}
.list-item-workload{
    float:right;
    width:40%;
    color:#666666;
    font-size:80%;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right:30px;
    margin-top: 3px;
}
.list-item-workload-nopad{
	padding-right: 0;
}
.list-item-wordload-edit{
	padding-right:0;
}
.x-item-selected .list-item-title{
    color:#ffffff;
}
.x-item-selected .list-item-workload{
    color:#ffffff;
}
.modules-list-empty-text{
    padding:10px;
}
.workload-overview-list-header{
	text-align: center;
	margin-top: 0.3em;
	font-weight:lighter;
}
.schedule-weekday-header{
	text-align: center;
	margin-top: 0.3em;
	font-size: 1.3em;
	margin-top: -5px;
}
.schedule-weekday-block{
	border-style: dashed;
	border-width: 2px;
	border-color: #F8F8FF;
	margin-bottom: 3px;
}
.schedule-weekday-block-dark{
	border-color: #E5E5E5;
}
.schedule-weekday-block-tap{
	border-color: #1e93e4;
}
.schedule-weekday-block:before{
	text-align: center;
	vertical-align: middle;
	font-family: "Pictos";
	content: "+";
	font-size: 2.3em;
	color: rgba(0, 0, 0, 0.04);
	display: block;
	width: 100%;
	height: 100%;
	line-height: 100px;
}

.blocks-panel .x-panel-inner {
    background-color: rgba(229,229,229,0.8) !important;
}
.blocks-panel-block{
	margin: 5px;
	background-color: #1E93E4
}
